* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
}

section {
	position: relative;
	width: 100%;
	margin: 0px;
}

.photo {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 650px;
	position: relative;
	margin: 0px;
	padding: 0px;
}
/*.photo span {
	bottom: 0;
	color: white;
	display: block;
	left: 50%;
	margin-left: -640px;
	font-size: 38px;
	padding: 10px;
	position: absolute;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	width: 100%;
}*/
.one {
	background-image: url(../images/one.png);
}
.two {
	background-image: url(../images/two.png);
}
.three {
	background-image: url(../images/three.png);
}
.four {
	background-image: url(../images/four.png);
}
.five {
	background-image: url(../images/five.png);
	height: 1900px;
}
.six {
	background-image: url(../images/six.png);
	height: 2400px;
}

.mobile body {
	overflow: hidden;
}

.mobile #wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}
.mobile #scroller {
	height: 3000px;
}
