* {
	margin: 0;
	padding: 0;
}

body {
	background: #2491F7;
}

section {
	position: relative;
	width: 100%;
	height: 3000px;
	margin: 0 auto;
}

.pixel {
	position: absolute;
	width: 100%;
	background: white;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}
.one {
	background-image: url(Images/One.png);
	height: 650px;
}
.two {
	background-image: url(./images/Two.png);
	height: 650px;
}
.three {
	background-image: url(Images/Three.png);
	height: 650px;
}
.four {
	background-image: url(/images/Four.png);
	height: 650px;
}
.five {
	background-image: url(/images/Five.png);
	height: 2000px;
}
.six {
	background-image: url(../images/Six.png);
	height: 2400px;
}

.mobile body {
	overflow: hidden;
}

.mobile #wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}

.mobile #scroller {
	height: 3000px;
}
